@model IEnumerable<KategoriRisiko>

@{
    ViewData["Title"] = "Master Kategori Risiko";
    Layout = "~/Views/Shared/_RiskManagerLayoutPage.cshtml";
}

<div class="app-content pt-3 p-md-3 p-lg-4" style="height: 1000px;">
    <div class="container-xl">

        <div class="bgKonten">
            <h1 class="app-page-title mb-4 p-3">
                @ViewData["Title"]

                <span class="float-end">
                    <a class="btn btn-success text-white" asp-controller="KategoriRisiko" asp-action="Create"><i class="fa-solid fa-plus"></i> Tambah</a>
                </span>
            </h1>
        </div>

        <div class="bgKonten">
            <table class="table text-center tableNya">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nama</th>
                        <th>Aksi</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr><td colspan="4">Tidak ada data</td></tr>
                    }
                    else
                    {
                        @foreach (var obj in Model)
                        {
                            <tr class="anakTable">
                                <td>@obj.Id_Kategori_Risiko</td>
                                <td>@obj.Nama_Kategori_Risiko</td>
                                <td>
                                    <a asp-action="Edit" class="btn btn-warning text-white" asp-route-id="@obj.Id_Kategori_Risiko"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
                                    <a asp-action="Delete" class="btn btn-danger text-white" asp-route-id="@obj.Id_Kategori_Risiko"><i class="fa-solid fa-trash"></i> Hapus</a>
                                </td>
                            </tr>   
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    if ("@TempData["IsDelete"]" != "") {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success mx-3 text-white',
                cancelButton: 'btn btn-danger mx-3 text-white'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Yakin Hapus Data?',
            text: "Data yang dihapus tidak dapat dikembalikan",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Hapus!',
            cancelButtonText: 'Batal!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Berhasil!',
                    'Data berhasil dihapus',
                    'success'
                ).then((value) => {
                    window.location = "@Url.Action("DeleteConfirmed", "KategoriRisiko", new { id = @TempData["ID"] })";
                });
            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Gagal',
                    'Data batal dihapus',
                    'error'
                )
            }
        })
    }
</script>