@model RiskManagementScratch.Models.RegistrasiDanDetailRisiko

@{
    ViewData["Title"] = "Registrasi Proyek Baru";
    Layout = "~/Views/Shared/_DivisionMemberLayoutPage.cshtml";
}

<div class="app-content pt-3 p-md-3 p-lg-4" style="height: 2000px;">
    <div class="container-xl">

        <div class="bgKonten">
            <h1 class="app-page-title mb-4 p-3">
                @ViewData["Title"]

                <span class="float-end">
                    <a class="btn btn-warning text-white" asp-controller="DivisionMember" asp-action="Index"><i class="fa-solid fa-left-long"></i> Kembali</a>
                </span>
            </h1>
        </div>

        <div class="bgKonten">
            <form method="post" class="mt-4 p-4">
                <div class="row mb-3">
                    <h5>Info Pemilik Registrasi Risiko</h5>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">Nama Divisi</label>
                            <input type="hidden" class="form-control" asp-for="RR.Id_Divisi" value="@ViewBag.IdDivisi">
                            <input type="text" class="form-control" readonly value="@ViewBag.namaDivisi">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">Nama Aktor</label>
                            <input type="hidden" class="form-control" asp-for="RR.Id_Aktor" value="@ViewBag.IdAktor">
                            <input type="text" class="form-control" readonly value="@ViewBag.Username">
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="row mb-3">
                    <h5>Risiko Utama</h5>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="" class="form-label">Dampak Risiko</label>
                            <textarea asp-for="RR.Dampak_Risiko" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Kategori Risiko</label>
                            <select class="form-select" asp-for="RR.Id_Kategori_Risiko" asp-items="ViewBag.KategoriRisikos"></select>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="row mb-3">
                    <h5>Risiko Awal</h5>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Dampak</label>
                            <select asp-for="RR.Id_Dampak_Risiko_Awal" id="idDampakRisikoAwal" class="form-select" asp-items="ViewBag.DampakRisikos"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Frekuensi</label>
                            <select asp-for="RR.Id_Frekuensi_Risiko_Awal" id="idFrekuensiRisikoAwal" class="form-select" asp-items="ViewBag.FrekuensiRisikos"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Rata - Rata</label>
                            <input type="hidden" id="valDampakRisikoAwal" />
                            <input type="hidden" id="valFrekuensiRisikoAwal" />
                            <input type="hidden" id="valAverageRisikoAwal" asp-for="RR.Rata_Rata_Risiko_Awal" />
                            <div class="progress" style="height: 34px; margin-top: 2px; border: 1px solid #ced4da;">
                              <div class="progress-bar progress-bar-striped" role="progressbar" id="progressBarRisikoAwal"></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="row mb-3">
                    <h5>Penyebab Risiko</h5>

                    <table id="DPRTable" class="table" style="margin-left: 5px;">
                        <thead>
                            <tr>
                                <th width="15%">Kategori Risiko</th>
                                <th width="20%">Deskripsi</th>
                                <th width="12%">Probabilitas (%)</th>
                                <th width="20%">Control</th>
                                <th width="15%">Divisi</th>
                                <th>Opsi</th>
                            </tr>
                        </thead>

                        <tbody>
                            @*@foreach (var item in Model.DetailPenyebabRisikos)*@
                            @for (int i = 0; i < Model.DetailPenyebabRisikos.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @*@Html.EditorFor(x => x.DetailPenyebabRisikos[i].Id_Kategori_Detail_Risiko, new { htmlAttributes = new { @class = "form-select", @value = "ViewBag.KategoriDetailRisikos" } })*@
                                        <select asp-for="DetailPenyebabRisikos[i].Id_Kategori_Detail_Risiko" class="form-select" asp-items="ViewBag.KategoriDetailRisikos"></select>
                                    </td>
                                    <td>
                                        <textarea asp-for="DetailPenyebabRisikos[i].Deskripsi" class="form-control"></textarea>
                                    </td>
                                    <td>
                                        <input type="number" asp-for="DetailPenyebabRisikos[i].Probabilitas" class="form-control" value="" />
                                    </td>
                                    <td>
                                        <textarea asp-for="DetailPenyebabRisikos[i].Control" class="form-control"></textarea>
                                    </td>
                                    <td>
                                        <select asp-for="DetailPenyebabRisikos[i].Id_Divisi" class="form-select" asp-items="ViewBag.Divisis"></select>
                                    </td>

                                    <td>
                                        <button id="btnAdd-@i" type="button" class="btn btn-xs btn-success text-white visible" onclick="AddItem(this)">Tambah</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @*<div class="col-md-2">
                        <div class="mb-3">
                            <label for="" class="form-label">Kategori</label>
                            <select asp-for="DPR.Id_Kategori_Detail_Risiko" class="form-select" asp-items="ViewBag.KategoriDetailRisikos"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Deskripsi</label>
                            <textarea asp-for="DPR.Deskripsi" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="mb-3">
                            <label for="" class="form-label">Probabilitas</label>
                            <input type="number" asp-for="DPR.Probabilitas" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="" class="form-label">Control</label>
                            <textarea asp-for="DPR.Control" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="mb-3">
                            <label for="" class="form-label">Divisi</label>
                            <select asp-for="DPR.Id_Divisi" class="form-select" asp-items="ViewBag.Divisis"></select>
                        </div>
                    </div>*@
                    <hr />

                    <input type="hidden" id="hdnLastIndex" value="0" />
                </div>

                <div class="row mb-3">
                    <h5>Sisa Risiko</h5>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Dampak</label>
                            <select asp-for="RR.Id_Dampak_Sisa_Risiko" id="idDampakSisaRisiko" class="form-select" asp-items="ViewBag.DampakRisikos"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Frekuensi</label>
                            <select asp-for="RR.Id_Frekuensi_Sisa_Risiko" id="idFrekuensiSisaRisiko" class="form-select" asp-items="ViewBag.FrekuensiRisikos"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Rata - Rata</label>
                            <input type="hidden" id="valDampakSisaRisiko" />
                            <input type="hidden" id="valFrekuensiSisaRisiko" />
                            <input type="hidden" id="valAverageSisaRisiko" asp-for="RR.Rata_Rata_Sisa_Risiko" />
                            <div class="progress" style="height: 34px; margin-top: 2px; border: 1px solid #ced4da;">
                              <div class="progress-bar progress-bar-striped" role="progressbar" id="progressBarSisaRisiko"></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="row mb-3">
                    <h5>Projek</h5>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="" class="form-label">Rencana Pemeliharaan</label>
                            <textarea asp-for="RR.Rencana_Pemeliharaan" class="form-control"></textarea>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="row mb-3">
                    <h5>Harapan Risiko</h5>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Dampak</label>
                            <select asp-for="RR.Id_Dampak_Harapan_Risiko" id="idDampakHarapanRisiko" class="form-select" asp-items="ViewBag.DampakRisikos"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Frekuensi</label>
                            <select asp-for="RR.Id_Frekuensi_Harapan_Risiko" id="idFrekuensiHarapanRisiko" class="form-select" asp-items="ViewBag.FrekuensiRisikos"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="" class="form-label">Rata - Rata</label>
                            <input type="hidden" id="valDampakHarapanRisiko" />
                            <input type="hidden" id="valFrekuensiHarapanRisiko" />
                            <input type="hidden" id="valAverageHarapanRisiko" asp-for="RR.Rata_Rata_Harapan_Risiko" />
                            <div class="progress" style="height: 34px; margin-top: 2px; border: 1px solid #ced4da;">
                              <div class="progress-bar progress-bar-striped" role="progressbar" id="progressBarHarapanRisiko"></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="row mb-3">
                    <h5>Penanggung Jawab</h5>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">Pemilik Risiko</label>
                            <input type="text" class="form-control" readonly value="@ViewBag.Username">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">Tanggal</label>
                            <input type="date" asp-for="RR.Tanggal_Pembuatan" class="form-control" />
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="row mt-4">
                    <div class="col-4">
                        <div class="d-grid gap-2">
                            <input type="reset" class="btn btn-danger text-white" value="Cancel" />
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-block text-white"><i class="fa-regular fa-floppy-disk"></i> Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const a1 = document.getElementById('idDampakRisikoAwal');
    const b1 = document.getElementById('idFrekuensiRisikoAwal');
    const c1 = document.getElementById('progressBarRisikoAwal');

    const d1 = document.getElementById('valDampakRisikoAwal');
    const e1 = document.getElementById('valFrekuensiRisikoAwal');
    const f1 = document.getElementById('valAverageRisikoAwal');


    const a2 = document.getElementById('idDampakSisaRisiko');
    const b2 = document.getElementById('idFrekuensiSisaRisiko');
    const c2 = document.getElementById('progressBarSisaRisiko');

    const d2 = document.getElementById('valDampakSisaRisiko');
    const e2 = document.getElementById('valFrekuensiSisaRisiko');
    const f2 = document.getElementById('valAverageSisaRisiko');


    const a3 = document.getElementById('idDampakHarapanRisiko');
    const b3 = document.getElementById('idFrekuensiHarapanRisiko');
    const c3 = document.getElementById('progressBarHarapanRisiko');

    const d3 = document.getElementById('valDampakHarapanRisiko');
    const e3 = document.getElementById('valFrekuensiHarapanRisiko');
    const f3 = document.getElementById('valAverageHarapanRisiko');

    a1.addEventListener('change', function handleChange(event) {
        console.log(event.target.value);
        if (event.target.value != null && event.target.value != '' && event.target.value != '-- Pilih Dampak Risiko --') {
            $.getJSON('@Url.Action("GetValueDampakRisiko")', { idDR : event.target.value }, function(aksikuncis) {
                console.log(aksikuncis);
                f1.value = null;

                d1.value = (((aksikuncis) / 10) / 2);
                f1.value = (parseFloat(d1.value) + parseFloat(e1.value));
                c1.style.width = ((f1.value) * 10) + "%";

                console.log(f1.value * 10);

                if ((f1.value * 10) <= 20) {
                    c1.style.backgroundColor = "#17cd00";
                } else if ((f1.value * 10) <= 40) {
                    c1.style.backgroundColor = "#72cc00";
                } else if ((f1.value * 10) <= 60) {
                    c1.style.backgroundColor = "#cbcc00";
                } else if ((f1.value * 10) <= 80) {
                    c1.style.backgroundColor = "#cc7700";
                } else if ((f1.value * 10) <= 100) {
                    c1.style.backgroundColor = "#cc0000";
                }
            });
        } else if (event.target.value == '-- Pilih Dampak Risiko --') {
            c1.style.width = "0%";
            d1.value = null;
            f1.value = null;
        }
    });

    b1.addEventListener('change', function handleChange(event) {
        console.log(event.target.value);
        if (event.target.value != null && event.target.value != '' && event.target.value != '-- Pilih Frekuensi Risiko --') {
            $.getJSON('@Url.Action("GetValueFrekuensiRisiko")', { idFR : event.target.value }, function(aksikuncis) {
                console.log(aksikuncis);
                f1.value = null;

                e1.value = (((aksikuncis) / 10) / 2);
                f1.value = (parseFloat(d1.value) + parseFloat(e1.value));
                c1.style.width = ((f1.value) * 10) + "%";

                console.log(f1.value * 10);

                if ((f1.value * 10) <= 20) {
                    c1.style.backgroundColor = "#17cd00";
                } else if ((f1.value * 10) <= 40) {
                    c1.style.backgroundColor = "#72cc00";
                } else if ((f1.value * 10) <= 60) {
                    c1.style.backgroundColor = "#cbcc00";
                } else if ((f1.value * 10) <= 80) {
                    c1.style.backgroundColor = "#cc7700";
                } else if ((f1.value * 10) <= 100) {
                    c1.style.backgroundColor = "#cc0000";
                }
            });
        } else if (event.target.value == '-- Pilih Frekuensi Risiko --') {
            c1.style.width = "0%";
            e1.value = null;
            f1.value = null;
        }
    });

    a2.addEventListener('change', function handleChange(event) {
        console.log(event.target.value);
        if (event.target.value != null && event.target.value != '' && event.target.value != '-- Pilih Dampak Risiko --') {
            $.getJSON('@Url.Action("GetValueDampakRisiko")', { idDR : event.target.value }, function(aksikuncis) {
                console.log(aksikuncis);
                f2.value = null;

                d2.value = (((aksikuncis) / 10) / 2);
                f2.value = (parseFloat(d2.value) + parseFloat(e2.value));
                c2.style.width = ((f2.value) * 10) + "%";

                console.log(f2.value * 10);

                if ((f2.value * 10) <= 20) {
                    c2.style.backgroundColor = "#17cd00";
                } else if ((f2.value * 10) <= 40) {
                    c2.style.backgroundColor = "#72cc00";
                } else if ((f2.value * 10) <= 60) {
                    c2.style.backgroundColor = "#cbcc00";
                } else if ((f2.value * 10) <= 80) {
                    c2.style.backgroundColor = "#cc7700";
                } else if ((f2.value * 10) <= 100) {
                    c2.style.backgroundColor = "#cc0000";
                }
            });
        } else if (event.target.value == '-- Pilih Dampak Risiko --') {
            c2.style.width = "0%";
            d2.value = null;
            f2.value = null;
        }
    });

    b2.addEventListener('change', function handleChange(event) {
        console.log(event.target.value);
        if (event.target.value != null && event.target.value != '' && event.target.value != '-- Pilih Frekuensi Risiko --') {
            $.getJSON('@Url.Action("GetValueFrekuensiRisiko")', { idFR : event.target.value }, function(aksikuncis) {
                console.log(aksikuncis);
                f2.value = null;

                e2.value = (((aksikuncis) / 10) / 2);
                f2.value = (parseFloat(d2.value) + parseFloat(e2.value));
                c2.style.width = ((f2.value) * 10) + "%";

                console.log(f2.value * 10);

                if ((f2.value * 10) <= 20) {
                    c2.style.backgroundColor = "#17cd00";
                } else if ((f2.value * 10) <= 40) {
                    c2.style.backgroundColor = "#72cc00";
                } else if ((f2.value * 10) <= 60) {
                    c2.style.backgroundColor = "#cbcc00";
                } else if ((f2.value * 10) <= 80) {
                    c2.style.backgroundColor = "#cc7700";
                } else if ((f2.value * 10) <= 100) {
                    c2.style.backgroundColor = "#cc0000";
                }
            });
        } else if (event.target.value == '-- Pilih Frekuensi Risiko --') {
            c2.style.width = "0%";
            e2.value = null;
            f2.value = null;
        }
    });

    a3.addEventListener('change', function handleChange(event) {
        console.log(event.target.value);
        if (event.target.value != null && event.target.value != '' && event.target.value != '-- Pilih Dampak Risiko --') {
            $.getJSON('@Url.Action("GetValueDampakRisiko")', { idDR : event.target.value }, function(aksikuncis) {
                console.log(aksikuncis);
                f3.value = null;

                d3.value = (((aksikuncis) / 10) / 2);
                f3.value = (parseFloat(d3.value) + parseFloat(e3.value));
                c3.style.width = ((f3.value) * 10) + "%";

                console.log(f3.value * 10);

                if ((f3.value * 10) <= 20) {
                    c3.style.backgroundColor = "#17cd00";
                } else if ((f3.value * 10) <= 40) {
                    c3.style.backgroundColor = "#72cc00";
                } else if ((f3.value * 10) <= 60) {
                    c3.style.backgroundColor = "#cbcc00";
                } else if ((f3.value * 10) <= 80) {
                    c3.style.backgroundColor = "#cc7700";
                } else if ((f3.value * 10) <= 100) {
                    c3.style.backgroundColor = "#cc0000";
                }
            });
        } else if (event.target.value == '-- Pilih Dampak Risiko --') {
            c3.style.width = "0%";
            d3.value = null;
            f3.value = null;
        }
    });

    b3.addEventListener('change', function handleChange(event) {
        console.log(event.target.value);
        if (event.target.value != null && event.target.value != '' && event.target.value != '-- Pilih Frekuensi Risiko --') {
            $.getJSON('@Url.Action("GetValueFrekuensiRisiko")', { idFR : event.target.value }, function(aksikuncis) {
                console.log(aksikuncis);
                f3.value = null;

                e3.value = (((aksikuncis) / 10) / 2);
                f3.value = (parseFloat(d3.value) + parseFloat(e3.value));
                c3.style.width = ((f3.value) * 10) + "%";

                console.log(f3.value * 10);

                if ((f3.value * 10) <= 20) {
                    c3.style.backgroundColor = "#17cd00";
                } else if ((f3.value * 10) <= 40) {
                    c3.style.backgroundColor = "#72cc00";
                } else if ((f3.value * 10) <= 60) {
                    c3.style.backgroundColor = "#cbcc00";
                } else if ((f3.value * 10) <= 80) {
                    c3.style.backgroundColor = "#cc7700";
                } else if ((f3.value * 10) <= 100) {
                    c3.style.backgroundColor = "#cc0000";
                }
            });
        } else if (event.target.value == '-- Pilih Frekuensi Risiko --') {
            c3.style.width = "0%";
            e3.value = null;
            f3.value = null;
        }
    });

    function AddItem(btn) {
        var table = document.getElementById('DPRTable');
        var rows = table.getElementsByTagName('tr');

        var rowOuterHtml = rows[rows.length - 1].outerHTML;

        var lastRowIdx = document.getElementById('hdnLastIndex').value;
        var nextRowIdx = eval(lastRowIdx) + 1;
        document.getElementById('hdnLastIndex').value = nextRowIdx;

        rowOuterHtml = rowOuterHtml.replaceAll('_' + lastRowIdx + '_', '_' + nextRowIdx + '_');
        rowOuterHtml = rowOuterHtml.replaceAll('[' + lastRowIdx + ']', '[' + nextRowIdx + ']');
        rowOuterHtml = rowOuterHtml.replaceAll('-' + lastRowIdx, '-' + nextRowIdx);

        var newRow = table.insertRow();
        newRow.innerHTML = rowOuterHtml;

        var btnAddId = btn.id;

        var addBtn = document.getElementById(btnAddId);
        addBtn.classList.remove("visible");
        addBtn.classList.add("invisible");
    }
</script>